<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="kore">
        <img src="assets/leftcompo_images/kore.png" class="kore-img">
    </div>
    <div class="vehi-image">
        <img src="assets/leftcompo_images/iot1.jpg" class="fl-img">
    </div>
    <div class="agile">
        <h1 class="desc-head">Simplify IoT</h1>
        <p>Combining the capacity of large<br>
            global providers with the velocity<br>
            of a tight team, we get more of the <br>
            right things done,faster.</p>
            
    </div>
    <div class="b1">
        <button (click)="btnclick()">Click</button>

    </div>

        
   
    
</body>
</html>

